.star {
    position: fixed;
    z-index: 1;
    width: 8px;
    height: 8px;
    margin: 100px auto;
    border-radius: 50%;
    background: radial-gradient(at 70% 30%, rgb(246, 243, 243) 1px, #fbfdff -4%, #eeeef4 38%);
    /* 蓝色光影 */
    box-shadow: 0 0 6px 1px rgb(146, 204, 233);
    animation: myStar 5s linear forwards;
}

/* 繁星点点动画 */

@keyframes myStar {
    0% {
        opacity: .5;
    }

    25% {
        transform: translateX(-50%);
    }

    50% {
        opacity: .8;
        transform: translateY(50%);
    }

    75% {
        transform: translateX(30%);
    }

    90% {
        opacity: .9;
    }

    100% {
        opacity: 0;
        transform: translateY(-20%);
    }

}

/* 流星划过动画 */

@keyframes myMeteor {
    0% {
        transform: translate(-320%, 12000%) rotate(-30deg);

    }

    25% {
        transform: translate(-535%, 17000%) rotate(-30deg);
    }

    100% {
        transform: translate(-795%, 24500%) rotate(-30deg);
    }
}

/* 缩放动画 */
@keyframes myScale {

    0% {
        opacity: .5;
        transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }

    25% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(-45deg) scale(1.5);
    }

    50% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }

    75% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(-45deg) scale(1.5);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }
}